* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-body: #D7D7D7;
  --color-info: #BBBBBB;
  --color-heading: #F8F8F8;
  --color-background: #1A1D23;
  --color-hight-light: #FF57B2;
}

@media(min-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media(min-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--color-background);
}

body, input, textarea, select, input {
  font: 400 1rem Inter, sans-serif;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}
